<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664127104617-d7mrf7brc80lnk4dro1c1gb554l1n11p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664127104617-d7mrf7brc80lnk4dro1c1gb554l1n11p</string>
	<key>API_KEY</key>
	<string>AIzaSyDXHpUUvpy-I2WpltncrcQTHDl7kSvFW-4</string>
	<key>GCM_SENDER_ID</key>
	<string>664127104617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-app-f25a2</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-f25a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664127104617:ios:373da13c92a56dc8cda4f8</string>
</dict>
</plist>